includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 5 is a good balance for existing projects
    level: 5

    # Check for missing return types
    # checkMissingIterableValueType: false
